<template>
  <div class="hello">
    <h1>dunno what to say {{id}}</h1>
        

  </div>
</template>


<script>
export default {
  name: "Youtube",
  props: {
    id: String,
  },
  methods: {
    playVideo() {
      this.player.playVideo();
      console.log("I'm doing the thing?")
    }
  },
  computed: {
    player() {
      return this.$refs.youtube.player;
    },
  },
};
</script>
