<template>
  <div id="app">
    <div id="player">
      <youtube :video-id="youtubeId" name="some video" ref="youtube" />
    </div>
    <button @click="addTimecode">Add Timecode</button>
    <!-- <button @click="seek(5)">Seek</button> -->
    <!-- <button @click="currentPosition">Current Position</button> -->

    <details>
      <summary>See youtube timecodes</summary>
      <ol id="timecodes">
        <!-- This should be in the format like: 
          @0:00 
          @0:05
          @0:20 etc 
        -->
        <li v-for="todo in todos" v-bind:key="todo.id" v-on:click="seek(todo.playbackPosition)">
          @{{ formatTime(todo.playbackPosition) }}
          <span v-if="todo.edited"> - {{ todo.text }}</span>
        </li>
      </ol>
    </details>
    <footer>
      <p>A timecode generator for a given youtube video. Source code available.</p>
      <a href="https://gitlab.com/SuperRoach/youtube-timecode-generator-vue"
        >here on gitlab</a
      >
      <fieldset>
      <label for="youtubevideo">Youtube video to load:</label>
      <input
        id="youtubevideo"
        v-model="youtubeUrl"
        placeholder="Paste your youtube video link here"
        size="43"
      />
      </fieldset>
      <p>Written by Brett James / <a href="https://twitter.com/superRoach">@SuperRoach</a>.</p>
    </footer>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data: function () {
    return {
      youtubeUrl: "https://www.youtube.com/watch?v=AAzY28C8Syc",
      todos: [
        {
          text: "First started",
          playbackPosition: 0,
          edited: false,
        },
      ],
    };
  },
  methods: {
    addTimecode: function () {
      //  Add a new timecode
      this.$refs.youtube.player.getCurrentTime().then((time) => {
        this.todos.push({
          text: `Timecode ${this.todos.length}`,
          playbackPosition: time,
          edited: false,
        });
      });
    },
    formatTime: function (seconds) {
      // Over one hour
      const workingSeconds = Math.floor(seconds);

      if (Math.floor(workingSeconds / 3600) >= 1) {
        // Add the hours column. It will look like:
        /// "03:25:45"
        // After stripping "1970-01-01T03:25:45.000Z"
        return new Date(workingSeconds * 1000).toISOString().slice(11, 19);
      } else {
        // Old school, with no hours formatter.
        var minutes = Math.floor(workingSeconds / 60);
        var displaySeconds = (workingSeconds % 60).toFixed(0);
        return (
          minutes + ":" + (displaySeconds < 10 ? "0" : "") + displaySeconds
        );
      }
    },
    playVideo() {
      this.$refs.youtube.player.playVideo();
    },
    seek(position) {
      this.$refs.youtube.player.seekTo(position);
    },
    currentPosition() {
      // let x = this.$refs.youtube.player.getCurrentTime();
      this.$refs.youtube.player.getCurrentTime().then((time) => {
        console.log(time);
      });
    },
  },
  computed: {
    youtubeId: function () {
      // Reset the timecodes if any.
      return this.$youtube.getIdFromUrl(this.youtubeUrl);
      //     },
    },
    watch: {
      youtubeUrl: function(url) {
        console.info("Reseting your timecode list...", url)
        this.todos.length = 1
      }
    }
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
footer {
  background-color: #eee;
  border-top-color: #ccc;
  border-top-width: 2px;
}

#timecodes li {
        cursor: pointer;
}
</style>
